<app-header></app-header>
<div class="container">
  <p><b><font size="3px">
      *****Thank you – your order is confirmed<br><br>
      Your Shopapp order has been successful and your parcel will be dispatched within the next 2 working days.
      ** Please note you will not receive a further order confirmation. You will receive an email notification when your order has been shipped. Otherwise we will only contact you if there is a problem or delay. **
      <br><br><br><br>
      Important information relating to your order
      Average shipping times
      UK & Europe: 5-7 working days
      USA & Rest of World: 7-14 working days
<br><br><br><br>
      Delivery addresses
      We will ship to the address provided with the order. Please do not worry if you address is classed as ‘unconfirmed’ on your order email, this is set by PayPal and will not affect our dispatch.
<br><br><br><br>
      Questions or problems with delivery
      In the unlikely event that your order is late, doesn’t arrive or your simply want an update as to its status, please email us: info@vegvit.com. We will check the status of your order and usually respond within 24 hours. Please do not open PayPal disputes as we are automatically forced down the road of a refund whereas often customers prefer replacement parcels in case of any postal issues.
<br><br><br><br>
      We hope you enjoy ShopApp.

</font>
  </b></p>
  <div class="container">
      <div class="col-md-4"></div>
        <div class="col-md-4">
          <button class="btn btn-lg btn-primary form-control" (click)="onBack()">Countinue Shopping</button>
        </div>
        </div>
