<h1><b>Forget Password</b></h1>
<hr>
<br>
<div class="container">
  <label>Email_Id:-</label>
<div class="form-group"><input class="form-control" type="email" placeholder="Email id" [(ngModel)]="Email_Id"> </div>
<label>Mobile:-</label>
<div class="form->group"><input class="form-control" type="text" placeholder="Mobile" [(ngModel)]="Mobile"> </div>
<div *ngIf="flag">
  <label>Password:-</label>
  <div class="form-group"><input class="form-control" type="text" placeholder="Password" [(ngModel)]="Password"> </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
          <button class="btn btn-lg btn-primary form-control" (click)="onOkay()">OKAY</button>
  </div>
  <div class="col-md-6">
          <button class="btn btn-lg btn-danger form-control" (click)="onBack()">CANCEL</button>
  </div>
</div>
